:root{
	--white-color: #fff;
	--black-color: #000;
	--text-color: #333;
	--color-primary: #f1582c;
}

*{
	box-sizing: inherit;
}

html{
	font-size: 62.2%;
	line-height: 1.6rem;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

/* Responsive */
.grid__row{
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}

/* TEST */
.grid__column-2{
	padding-left: 5px;
	padding-right: 5px;
	width: 16.6667%;
}

.grid__column-2-4{
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.grid__column-10{
	padding-left: 5px;
	padding-right: 5px;
	width: 83.333%;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to{
		opacity: 1;
	}
}

.btn{
	height: 36px;
	min-width: 120px;
	text-decoration: none;
	border-radius: 2px;
	border: none;
	font-size: 1.5rem;
	background-color: var(--white-color);
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.btn.btn--primary{
	color: var(--white-color);
	background-color: var(--color-primary);
}

.color_primary-mini{
	background-color: #ee4d2d;
	border-radius: 2.5px;
}

.color_primary-mini:hover{
	background-color: #f15e41;
}


